<div class="row">
  <div class="col-auto">
    <h2>Conversation with {{otherUser.name}}</h2>
  </div>
</div>

{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>About {{otherUser.name}}</h3>

    <div class="form-group">
      <label for="bio">Bio:</label>
      <textarea class="form-input" id="bio" name="bio" disabled>{{otherUser.bio}}</textarea>
    </div>
    <div class="form-group">
      <label for="training-goals">Training Goals:</label>
      <textarea class="form-input" id="training-goals" name="training-goals" disabled>{{otherUser.training_goals}}</textarea>
    </div>
  </div>
</div> --}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Messages</h3>
    <ul id="message-list">
      {{#each messages}}
        <li class="{{#if fromCurrentUser}}current-user{{else}}other-user{{/if}}">
          <p>{{text}}</p>
        </li>
      {{/each}}
    </ul>

    <form id="message-form" class="form">
      <div class="form-group">
        <textarea class="form-input" id="message-text" name="message-text" placeholder="Type your message here"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>
  </div>
</div>